@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

.screen-center {
  @apply flex items-center justify-center h-screen;
}



html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

/* Scrollbar style */
/* Firefox Compatibility */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #595959 #fafafa !important;
  box-sizing: border-box;
}

/* General */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

::-webkit-scrollbar-thumb {
  background-color: #595959 !important;
  border: 1px solid #fafafa !important;
  border-radius: 6px !important;
}